behave==1.2.6
behave-jenkins==1.2.5.1
behave-rest==0.1.3
certifi==2021.5.30
chardet==4.0.0
idna==2.10
jpath==1.6
jsonpath==0.82
nose==1.3.7
parse==1.19.0
parse-type==0.5.2
requests==2.25.1
requests-auth==5.2.0
requests-aws==0.1.8
requests-bearer==0.5.1
six==1.16.0
trafaret==2.1.0
urllib3==1.26.5
